VITE_API_URL=http://localhost:3001
VITE_E2E_MOCK=false
VITE_RPC_URL=http://127.0.0.1:8545
VITE_CHAIN_ID=31337
VITE_IPFS_GATEWAY=https://ipfs.io/ipfs/
# Deve corrispondere a API_SECRET_TOKEN del backend se usi le rotte IPFS
VITE_API_SECRET_TOKEN=IL_TUO_TOKEN_SEGRETO_QUI
