PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:4173
IPFS_GATEWAY=https://gateway.pinata.cloud

# PINATA CREDENTIALS
PINATA_API_KEY=IL_TUO_API_KEY_QUI
PINATA_SECRET_API_KEY=IL_TUO_SECRET_KEY_QUI

# SECURITY
# Deve corrispondere a VITE_API_SECRET_TOKEN nel frontend
API_SECRET_TOKEN=IL_TUO_TOKEN_SEGRETO_QUI
